#about {
    border-top: solid #002030 1px;
    margin-bottom: 3vw;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    margin: 3vw 0 2vw 0;
}

.catch {
    font-size: 22px;
    margin-bottom: 2vw;
}

.catch strong {
    font-weight: 400;
    color: #00ffe0;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-item {
    border: solid #b0cee4 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    padding: 20px;
    border-radius: 20px;
    background-color: #002030;
    width: 14vw;
    transition: 0.5s;
    margin: auto;
}

.skills-item:hover {
    box-shadow:
    0 0 6px #00ffe0,
    inset 0 0 6px #00ffe0;
}

.skills-item h3 {
    font-weight: 500;
    font-size: 24px;
    color: #00ffe0;
    margin-top: 5px;
}

.skills-details li {
    padding-bottom: 10px;
}

.skills-details li:last-child {
    padding-bottom: 0;
}

.skills-details li, p {
    font-size: 18px;
}

.skills-details p {
    line-height: 26px;
}

.skills-item img {
    height: 75px;
}

/* mobile */
@media screen and (max-width: 767px) {
    #about {
        margin-bottom: 6vw;
    }

    #about h2 {
        font-size: 22px;
        margin: 6vw 0 3vw 0;
    }
    
    .catch {
        font-size: 16px;
        margin-bottom: 4vw;
    }
        
    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 6vw;
    }
    
    .skills-item {
        height: 200px;
        padding: 10px;
        width: 90%;
        margin: 0;
    }
    
    .skills-item h3 {
        font-size: 20px;
    }
        
    .skills-details li, p {
        font-size: 16px;
    }
    
    .skills-details p {
        line-height: 22px;
    }
    
    .skills-item img {
        height: 60px;
    }
}