#contact {
    margin-bottom: 150px;
    border-top: solid #002030 1px;
}

#contact img {
    width: 100px;
    padding: 0 4px 8px 4px;
    margin-left: 10px;
    border-bottom: solid 2px #002030;
}
  
#contact img:hover {
    border-bottom: solid 2px #00ffe0;
}